<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/image/citilife-logo.png" alt="Citilife Logo" width="40" height="40" />
      Citilife Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Patient Portal</ion-card-title>
      <ion-card-subtitle>This is the patient portal</ion-card-subtitle>
      <ion-button routerLink="/login" [queryParams]="{ type: 'patient' }">
        Login as Patient
      </ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Radiologist Portal</ion-card-title>
      <ion-card-subtitle>This is the radiologist portal</ion-card-subtitle>
      <ion-button routerLink="/login" [queryParams]="{ type: 'radiologist' }">
        Login as Radiologist
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>